@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    160 Princess St<br />
    Winnipeg, MB R3B 1K9<br />
    <abbr title="Phone">P:</abbr>
    204.632.2327
</address>

<address>
    <strong>Student Services:</strong>   <a href="register@rrc.ca">register@rrc.ca</a><br />
    <strong>Continuing Education:</strong> <a href="cde@rrc.ca">cde@rrc.ca</a><br/>
    <strong>International:</strong> <a href="intled@rrc.ca">intled@rrc.ca</a>
</address>